.hero {
    background: url('../images/estee-janssens-2enBTsIVhUU-unsplash.jpg') top center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 70vh;
}

img {
    width: 25vw;
}

.first {
    display: inline-block;
    /* margin-left: 10%; */
}

.first h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.software {
    display: flex;
    justify-content: center;
    margin: 3% 5%;
}

.s-icons {
    display: flex;
    justify-content: center;
}

.soft-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
#soft-know {
    padding-bottom: 15px;
}

.soft-icon {
    padding-top: 15px;
    padding-right: 10px;
    width: 7vw !important;
}

#js-icon {
    width: 9.5vw !important;
    padding-right: 0px;
    margin-left: 15px;
}

#css-icon {
    margin-left: 25px;
}

#python-icon {
    width: 18vw !important;
}

.prof-pic {
    padding-right: 15px;
    margin-left: 0 !important;
}

.col {
    padding: 0 !important;
}

.about-content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.c-one {
    margin-bottom: 50px;
}

#more1, #more2 {
    display: none;
}

.read-link {
    color: rgb(102, 35, 156) !important;
}
.read-link:hover {
    text-decoration: underline !important;
}

.paragraphs {
    margin-left: 10px !important;
}

#carouselExampleIndicators {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}
#carouselExampleIndicators1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.carousel-control-prev {
    padding-left: 15px;
}
.carousel-control-next {
    right: 20px !important;
    /* width: 20px; */
    /* height: 20px; */
} 
.next-arrow {
    right: 35px !important;
}
.carousel-dash {
    padding-right: 20px;
}


#know {
    text-align: center;
    margin: 50px 25px 25px 25px;
    color: rgb(128, 35, 156);
}
.col-sm {
    min-width: 165px;
}
.about-cont {
    margin-left: 60px;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 35px;
    text-decoration: underline;
}
h3 {
    font-size: 25px;
    color: rgba(163, 27, 163);
}
#html {
    list-style-image: url(../images/HTML5_logo.png);
}
#css {
    list-style-image: url(../images/CSS3.png);
}
#js {
    list-style-image: url(../images/js-icon.png);
}
#py {
    list-style-image: url(../images/py-icon.png);
}
#sql {
    list-style-image: url(../images/sql-icon.png);
}

.animals {
    margin-top: 50px;
}

ul {
    padding-right: 80px;
}

/* .prof-pic {
    width: 30vw;
} */

@media screen and (max-width: 730px) {
    .about-wrap, .animal-wrap {
        display: flex;
        flex-direction: column;
    }
    .prof-pic {
        min-width: 273px;
        padding-bottom: 15px;
    }
}