.hero {
    background: url('../images/estee-janssens-2enBTsIVhUU-unsplash.jpg') top center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 50vh;
}

img {
    width: 25vw !important;
}

p {
    padding-top: 25px;
}