<header>
    <nav>
        <ul class="navigation">
            <li class="nav-links">
                <a href="">Home</a>
            </li>
            <li class="nav-links">
                <a href="">About Me</a>
            </li>
            <li class="nav-links">
                <a href="">Projects</a>
            </li>
            <li class="nav-links">
                <a href="">Resume</a>
            </li>
            <li class="nav-links">
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<%- include('partials/nav.ejs') %>